.contact-form{
    display: grid;
    height: 60vh;
    margin-top: 83px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "con-left con-right";
}

#con-left{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5rem;
    grid-area: con-left;
}

#con-right{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5rem;
    left: -11rem;
    grid-area: con-right;
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--blue);
    border-radius: 8px;
    font-size: 16px;   
}

textarea{
    height: 4rem!important;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}

.t-heading{
    align-self: start;
}
.t-heading>*{
    font-size: 2rem;
    font-weight: bold;
}
.t-heading span:nth-of-type(2){
    color: var(--blue);
} 

@media only screen and (max-width: 360px) {
.contact-form {
    display: grid;
    height: 1vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "con-left" "con-right";
    padding-bottom: 0;
    margin-bottom: 0;
}

#con-left{
    display: flex;
    justify-content: center;
    position: relative;
    left: -4rem;
    top: -79rem;
    grid-area: con-left;
}

#con-right{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5rem;
    left: -2.8rem;
    top: -82rem;
    grid-area: con-right;
    transform: scale(0.6);
}

}