.Intro {
  display: grid;
  height: 100vh;
  margin-top: 103px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "grid-left grid-right";
}

/* left side styling */

#grid-left{
  grid-area: grid-left;
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  left: 2rem;
}

.i-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(2) {
  color: var(--blue);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(3) {
  font-weight: 100;
  font-size: 20px;
  color: var(--gray);
  margin-top: 10px;
  padding-right: 55px;
}
.i-button {
  width: 6rem;
  height: 2rem;
}
.i-icons {
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}
.i-icons > * {
  transform: scale(0.5);
}
.i-icons > *:hover {
  cursor: pointer;
}
/* right side styling */

#grid-right{
  flex: 1;
  position: relative;
  grid-area: grid-right;
}

.i-right > * {
  position: absolute;
  z-index: 1;
}
.i-right > :nth-child(1) {
  top: -9%;
  left: -2rem;
}
.i-right > :nth-child(2) {
  transform: scale(0.75);
  top: -4.9rem;
  left: -7rem;
}
.i-right > :nth-child(3) {
  transform: scale(0.26);
}

@media only screen and (max-width: 360px) {
  .Intro {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "grid-right" "grid-left" ;
  }

  #grid-left{
    grid-area: grid-left;
    display: flex;
    position: relative;
    margin-top: 30px;
    gap: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    left: 1.5rem;
    top: 5.5rem;
  }

  #grid-right{
    position: relative;
    grid-area: grid-right;
    margin-top: 5px;
    gap: 0;
    top: -3rem;
    left: -4rem;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    transform: scale(0.45);
  }

  .i-name > :nth-child(1) {
    font-size: 2rem;
  }
  .i-name > :nth-child(2) {
    font-size: 30px;
    padding-right: 45px;
  }
  .i-name > :nth-child(3) {
    font-size: 18px;
  }

  .i-icons {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
    display: flex;
    transform: scale(0.7);
  }
  
  .i-right .blur {
    display: none;
  }

  .floating-div:nth-of-type(1){
    /* display: none; */
    top: -16rem !important;
  }

  .floating-div:nth-of-type(2){
    /* display: none; */
    left: 22rem !important;
  }

}